*{padding: 0;margin: 0; box-sizing: border-box;font-family: "Dancing Script", cursive;}
body{
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
}
.one
{
    z-index:-1;
    width:70%;
    height:100vh;
    background:#FF69B4;
}
.two
{
    z-index:-1;
    width:30%;
    height:100vh;
    background:rgb(143, 91, 143);
}
nav{
    width:100%;
    height:70px;
    display:flex;
    position:absolute;
    top:0;
    left:0;
    justify-content: space-evenly;
    align-items: center;
}
.menu a{
    padding: 10px;
    text-decoration: none;
    color:rgb(123, 53, 123);
    margin:5px;
    font-size: 20px;
    font-weight:bold;
  }
.logo{
    color:rgb(239, 210, 147);
    font-size:50px;
    letter-spacing:5px;
    font-weight:bold;
}
.logo:first-letter{
    color:rgb(123, 53, 123);
}
.icon{
    width:180px;
}
.fa-square-instagram{
    font-size:30px;
    color: rgb(241, 94, 121);
    width:30px;
}
.fa-facebook{
    font-size:30px;
    color: rgb(121, 188, 215);
    width:30px;
}
.fa-whatsapp{
    font-size:30px;
    color:rgba(89, 230, 89, 0.897);
    width:30px;
}
.fa-telegram{
    font-size:30px;
    color:rgb(121, 188, 215);
    width:30px;
}
.flower1{
    position: absolute;
    right: 10px;
    top:100px;
}
.flower2{
    position: absolute;
    right:230px;
    top:350px;
}
.text{
    position:absolute;
    top:30%;
    left:10%;
    color:rgb(239, 210, 147);
    font-size:30px;
}
button{
    padding:10px 20px;
    color:rgb(239, 210, 147);;
    background-color: rgb(123, 53, 123);
    border:none;
}